name: Releases
on:
  push:
    bnraches:
      - master

jobs:
  changelog:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: conventional Changelog Action
        id: changelog
        uses: TriPSs/conventional-changelog-action@v3.7.1
        with:
          github-token: ${{ secrets.PAT_TOKEN }}

      - name: Create Release
        uses: actions/create-release@v1
        if: steps.changelog.outputs.release_created == 'true'
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
        with:
          tag_name: ${{ steps.changelog.outputs.tag_name }}
          release_name: ${{ steps.changelog.outputs.release_name }}
          body: ${{ steps.changelog.outputs.body }}
          
        